# {{ ansible_managed }}

server {
    listen      {{ port|default('80') }};
    server_name {{ name }};
    root        {{ root }};

    # Logging --
    access_log  /var/log/nginx/{{ name}}.access.log;
    error_log   /var/log/nginx/{{ name }}.error.log notice;

    # Uploads
    client_max_body_size    {{ nginx_server_client_max_body_size|default('20m') }};
    client_body_buffer_size {{ nginx_server_client_body_buffer_size|default('128k') }};

    # Serve static files directly
    location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico)$ {
        access_log     off;
        log_not_found  off;
        expires        max;
    }

    # Prevent access to hidden files
    location ~ /\. {
        access_log     off;
        log_not_found  off;
        deny all;
    }

{% if type == 'php' %}
    index  index.php;
    # Pass PHP scripts to PHP-FPM
    location ~* \.php$ {
        fastcgi_pass    unix:{{ socket }};
        include         fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
    }
{% else %}
    index  index.html;
{% endif %}
}