server {
    listen  {{ port|default('80') }};
    server_name {{ name }};
    root    {{ root }};

    # Logging --
    access_log  /var/log/nginx/{{ name}}.access.log;
    error_log  /var/log/nginx/{{ name }}.error.log notice;

    # serve static files directly
    location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt)$ {
        access_log        off;
        expires           max;
    }
}